[Unit]
Description=Change Wallpaper

[Service]
ExecStart=/home/spade/bin/change-wallpaper.sh
Environment=DISPLAY=:0

[Install]
WantedBy=default.target
